$white: #FFFFFF;
$green: #90ee90;
$red: #ff4500;
$grey: #b9b9b9;
$black-transparent: rgba(0, 0, 0, 0.6);
$black: #000000;

$text-color: #545454;
$text-color-template: $white;

$body-color1: #F4F4F4;
$body-color2: #E5E5E5;

$bg-color-template1: #3B5C8D;
$bg-color-template2: #72A7F6;

$container-width: 100vw;
$container-margin: 1140px;
$goutiere: 10px;
$mobile-minw: 960px;
